@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins,sans-serif;
}

:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --notepad:  #FAF9F6;

    --SoftBlue:  #67A0E9;
    --LightGray:  #E5E5E5;
    --SubtleGreen:  #8BD08A;
    --CrispWhite:#FFFFFF;
    --GentleYellow: #FFD166;
    --AccentTeal :#4B98A3;
    --mixgreen : #00FFFF;

}

/* HEADER / NAV  */

#header_containers {
    width: 100%;
    background-color: var(--notepad);
    height: 5rem;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
.nav,.nav_left,.nav_middle,#nav_right {
    display: flex;
}


.nav_left > ul {
    display: flex;
}

#logo > img {
    width: 40px;
    height: 40px;
}

.nav_left > ul {
    list-style: none;
}

#nav_right > ul {
    list-style: none;
    display: flex;
    /* padding: 1rem; */
}

.nav_left_ul_li > a {
    text-decoration: none;
    font: 20px;
    padding: 1rem;
}

#logo {
    display: flex;
    align-items: center;
    padding: 1.5rem;
}

#logo > h4 {
    padding: 1rem;
}

#nav_right > ul > li {
    padding: 1rem;
}
#nav_right > button {
    padding: 0px 18px;
    margin: 0.4rem;
    border-radius: 18px;
    border: none;
}

#sign_up_btn {
    font-size: 16px;
    background: var(--AccentTeal);
    color: var(--LightGray);

}

/* ---------------- HERO SECTIONS ----------------------------- */

#hero {
    width:100%;
    height: 84%;
    background: var(--notepad);

    padding:  15rem 20rem 0rem 20rem;

    justify-content: center;
    align-items: center;
    border-color: 2px solid black;

    margin-bottom: 1rem;
    

}

#hero_h1 {
    font-size: 4rem;
}

#hero_h2 {
    font-size: 1.2rem;

}

#hero_btn {
    background-color: var(--GentleYellow);
    padding: 8px;
    border-radius: 12px;
    color: black;
    border-color: var(--AccentTeal);

    font-size: 20px;
    font-weight: 600;
}

#hero_btn_cont {
    /* background-color: var(--SoftBlue); */
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 25px 0px;
}

#hero_h1_name {
    margin-left: 38rem;
    font-size: 3.5rem;
}

/* ------------------ PAGE 2 ----------------------------------- */

#page2{
    width: 100%;
    height: 40%;
    /* background-color: #000; */
}

#page2_cont {
    width: 100%;
    height: 80vh;
    /* background-color: #755757; */

    display: flex;
}

#page2_cont_left {
    /* background-color: red; */
    width: 50%;
    height: 30vh;

    padding: 2.5rem;
}

#page2_cont_right {
    /* background-color: blue; */
    width: 50%;
    height: 30vh;

    padding: 1rem;
}

#page2_cont_left > h1 {
    font-size: 2.8rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#page2_cont_right > h2 {
    font-size: 1.3rem;

}